:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    display: grid;
    justify-items: center;
    align-items: end;
    min-width: 320px;
    min-height: 100vh;
    overscroll-behavior: none;
    background:
            url('/src/shared/assets/storm_clouds_01.png') repeat-x,
            linear-gradient(#ccc, transparent) no-repeat,
            url('/src/shared/assets/storm_clouds_02.png') repeat-x,
            url('/src/shared/assets/parallax_background.png') no-repeat center;
    background-size:
            auto,
            100% 200px,
            auto,
            100% 100%;
    animation: running linear infinite cloudsMoving 100s
}

#app {
    max-width: 1600px;
    text-align: center;
}

@keyframes cloudsMoving {
    from {
        background-position: 0 0, 0 0, 0 15px, center;
    }

    to {
        background-position: 200% 0, 0 0, 100% 15px, center;
    }
}